@model IEnumerable<PropertyManagement.Models.InitialContact>

	@{
			ViewData["Title"] = "Initial Contacts List";
	}

	<h2>Initial Contacts List</h2>

	<section class="col-md-12">
		<div class="header-container">
			<div class="row">
				<div class="col-md-2">@Html.DisplayNameFor(model => model.NameFirst)</div>
				<div class="col-md-2">@Html.DisplayNameFor(model => model.NameLast)</div>
				<div class="col-md-2">@Html.DisplayNameFor(model => model.Email)</div>
				<div class="col-md-2">@Html.DisplayNameFor(model => model.Phone)</div>
				@*<div class="col-md-2">@Html.DisplayNameFor(model => model.Zip)</div>*@
				@*<div class="col-md-2">@Html.DisplayNameFor(model => model.BestTime)</div>*@
				<div class="col-md-2">Zipcode</div>
				<div class="col-md-2">Best Time</div>
			</div>
		</div>
		<div class="body-container">
			@foreach (var item in Model)
			{
					<div class="row table-row" data-action="FollowUp" data-controller="InitialContact" data-param-Id="@item.Id" data-param-Test="yeah">
						<div class="col-md-2">
							<span class="mobile-header">@Html.DisplayNameFor(model => model.NameFirst): </span>
							@Html.DisplayFor(modelItem => item.NameFirst)
						</div>
						<div class="col-md-2">
							<span class="mobile-header">@Html.DisplayNameFor(model => model.NameLast): </span>
							@Html.DisplayFor(modelItem => item.NameLast)
						</div>
						<div class="col-md-2">
							<span class="mobile-header">@Html.DisplayNameFor(model => model.Email): </span>
							@Html.DisplayFor(modelItem => item.Email)
						</div>
						<div class="col-md-2">
							<span class="mobile-header">@Html.DisplayNameFor(model => model.Phone): </span>
							@Html.DisplayFor(modelItem => item.Phone)
						</div>
						<div class="col-md-2">
							<span class="mobile-header">Zipcode: </span>
							@Html.DisplayFor(modelItem => item.Zip)
						</div>
						<div class="col-md-2">
							<span class="mobile-header">Best Time: </span>
							@Html.DisplayFor(modelItem => item.BestTime)
						</div>
					</div>
					
			}
		</div>
	</section>
